/* navbar */
.navbar {
    background-color: white;
    box-shadow: 0px 2px 12px #d6d6d6;
    position: fixed;
    width: 100%;
    z-index: 3;
    top: 0;
}
.navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
}
.navbar li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #e0e0e0;
    text-decoration: none;
    transition: all .8s ease-out;
}
.navbar li a:hover, .navbar .menu-btn:hover {
    background-color: #e0e0e0;
    transition: all .8s ease-out;
}
.navbar .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 5px 20px;
    text-decoration: none;
}
.navbar .menu {
    background-color: white;
    clear: both;
    max-height: 0;
    transition: all .8s ease-out;
}
.navbar .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}
.navbar .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .3s ease-out;
    width: 18px;
}
.navbar .menu-icon .navicon:before, .navbar .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.navbar .menu-icon .navicon:before {
    top: 5px;
}
.navbar .menu-icon .navicon:after {
    top: -5px;
}
.navbar .menu-btn {
    display: none;
}
.navbar .menu-btn:checked ~ .menu {
    max-height: 257px;
}
.navbar .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}
.navbar .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}
.navbar .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}
.navbar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before, .navbar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}

/* 48em = 768px */
@media screen and (min-width: 48em) {
    .navbar li {
        float: left;
    }
    .navbar li a {
        padding: 20px 30px;
    }
    .navbar .menu {
        clear: none;
        float: right;
        max-height: none;
    }
    .navbar .menu-icon {
        display: none;
    }
}
/* fin navbar */ 

/* partie générale */
body {
	font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    display: block;
	width: 100%;
    margin: 0;
    top: 0;
}
a {
    transition: all .5s;
}
a:focus {
    outline: 0 !important;
    outline-offset: 0;
}


/* partie intro */
#slide1 {
    /*min-height: 800px;*/
    background-image: url('image/portfolioBG.jpg');
	background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 800px;
    width: 100%;
    text-align: center;
}

.slide_inside {
    width: 100%;
}

.text-intro {
    padding-top: 350px;
}

.text-intro h1 {
	font-weight: 600;
}


/* partie a propos  */
#slide2 {
    background: #E9D8C3;
    height: 100%;
    text-align: center;
    color: black;
}
.accroche, .photo {
    text-align: center;
}

.btn-light {
    color: #000;
    border-color: black;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    text-align: center;
}
.btn {
    border: black;
    border-radius: 300px;
    font-weight: 700;
    text-transform: uppercase;
}
.btn-xl {
    padding: 15px 30px;
    text-align: center;
}
#image {
    height: 200px;
    width: 200px;
}



/* partie footer */
#slide4 {
    margin: 0;
    width: 100%;
    bottom: 0;
}

.footer {
    display: grid; 
    background-color: rgba(50,50,50,1);
    color: white;
}

.footer li {
    list-style-type: none; 
    padding: 5px;
}
.footer a {
    text-decoration: none; 
    color: white; 
}
.footer a:hover {
     color: #CD9B5C;
}
.footer h3 {
    font-weight:300; 
}

.footer-information-container {
    display:grid; 
    grid-template-columns:1fr 1fr 1fr 1fr; 
    padding-bottom:20px;
    padding-left: 16%;
}
.info-container p {
    margin-top:0px; 
    margin-bottom:3px;
}
.social-media-container li {
    list-style-type: none; 
    height: 100%;
}

.ul_reseau {
    display: -webkit-inline-box;
}
.liens_reseaux {
    padding: inherit;
}

.footer-developer-container {
    text-align: center; 
}
